img {
    height: 495px;
    background-image: url("/runbuddyimage.png");
    background-position: center;
    background-size: cover;
}

body {
    background-color: whitesmoke;
}

header {
    background-color:grey;
    padding: 20px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    display: inline;
    font-size: 30px;
}

header nav {
    padding-top: 5px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#about-me {
    background-color:grey;
    padding: 20px;
    color: #ffffff;
    display: inline-block;
    width: 1225px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* work section */
#work-section {
    width: 500px;
    height: 495px;
    border: 10px solid gold;
    background-image: url(/runbuddyimage.png);
    background-position: center;
}

#work {
    background-color:grey;
    padding: 20px;
    color: #ffffff;
    display: inline-block;
    width: 1225px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

img {
    height: 495px;
    background-image: url("/resumeviv.png");
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
  }
  
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: gold;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }

  .work-sectionSecondary {
    margin-top: 295px;
    margin-left: 20px;
    max-width: 200px;
    max-height: 200px;
    border: 10px solid gold;
 }
 .work-sectionSecondary img{
    max-width: 200px;
    max-height: 200px;
 }
  /* work section ends here*/

#contact {
    background-color:grey;
    padding: 20px;
    color: #ffffff;
    display: inline-block;
    width: 1225px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#resume {
    background-color:grey;
    padding: 20px;
    color: #ffffff;
    display: inline-block;
    width: 1225px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

 h4 {
    text-orientation: sideways-right;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: black;
}

p  {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

